@keyframes #{fade-in}
    0%
        opacity: 0

    5%
        opacity: 0

    100%
        opacity: 1

[data-language] code, pre [data-language]
    opacity: 0

    // IE9 supports unprefixed opacity property but does not support keyframe
    // animations.  This means in order to get the code to show up in IE 9 when
    // javascript is disabled we have to include this ugly bad boy.
    //
    // IE 10+ and all modern browsers support CSS animations
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"

    animation: 50ms ease-in-out 1000ms forwards fade-in

    &.decrease-delay
        animation-delay: 75ms

    &.stop-animation
        opacity: 0
        // background: red
        animation-play-state: paused
