/**
 * All Hallows Eve theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.0.1
 */
@import "_base.sass"

pre
    .comment
        color: #9933CC

    .constant
        color: #3387CC

    .storage
        color: #CC7833

    .string
        color: #66CC33

    .keyword, .selector
        color: #CC7833

    .inherited-class
        font-style: italic

    .support
        color: #C83730
