/**
 * Espresso Libre theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.0
 */
@import "_base.sass"

pre
    background-color: #2a211c
    color: #bdae9d

    .support.class, .support.type
        color: #6d79de

    .support.constant
        color: #00af0e

    .constant.language
        color: #585cf6

    .support.function
        font-weight: bold
        color: #7290d9

    .string
        color: #049b0a

    .constant.numeric
        color: #44aa43

    .keyword, .storage
        color: #43a8ed

    .entity.function
        color: #ff9358

    .comment
        color: #0066ff
        font-style: italic

    .constant.symbol
        color: #c5656b

    .variable.instance, .variable.language, .constant
        color: #318495
