/**
 * Paraíso (Dark)
 *
 * @author Jan T. Sott
 * @version 1.0.0
 * @url http://github.com/idleberg/Paraiso-Rainbow
 */
@import "_base.sass"

pre
    background-color: #2f1e2e
    color: #e7e9db

    .comment
        color: #776e71

    .variable.global, .variable.class, .variable.instance
        color: #ef6155 /* red */

    .constant.numeric, .constant.language, .constant.hex-color, .keyword.unit
        color: #f99b15 /* orange */

    .constant, .entity, .entity.class, .support
        color: #fec418 /* yellow */

    .constant.symbol, .string
        color: #48b685 /* green */

    .entity.function, .support.css-property, .selector
        color: #06b6ef /* blue */

    .keyword, .storage
        color: #815ba4 /* purple */
