// This is the theme used on the rainbowco.de website
@import "_base.sass"

code span
    transition: color 0.6s ease-in

code
    // These colors are only needed to highlight the header on the site
    .red
        color: $red

    .orange
        color: $orange

    .yellow
        color: $yellow

    .green
        color: $green

    .blue
        color: $blue

    .indigo
        color: $indigo

    .violet
        color: $violet

    .animate
        color: #fff !important

pre
    background: #010104


    // Here are the actual theme colors
    .comment
        color: #747474;

    .keyword, .selector, .operator
        color: lighten($violet, 20%)

    .storage, .support
        color: lighten($red, 8%)

    .string
        color: lighten($yellow, 20%)

    .constant
        color: lighten($orange, 20%)

    .entity
        color: lighten($blue, 15%)

    .inherited-class, .storage
        font-style: italic

@include language("custom")
    .comment
        color: #314CAD

    .integer
        color: $yellow

    .keyword
        color: $orange

@include language("html")
    .attribute
        color: lighten($red, 15%)
