/**
 * Tomorrow Night theme
 *
 * @author Chris Kempson
 * @author skim
 * @version 1.0.0
 */
@import "_base.sass"

pre
    background-color: #1d1f21
    color: #c5c8c6

    .comment
        color: #969896

    .variable.global, .variable.class, .variable.instance
        color: #cc6666 /* red */

    .constant.numeric, .constant.language, .constant.hex-color, .keyword.unit
        color: #de935f /* orange */

    .constant, .entity, .entity.class, .support
        color: #f0c674 /* yellow */

    .constant.symbol, .string
        color: #b5bd68 /* green */

    .entity.function, .support.css-property, .selector
        color: #81a2be /* blue */

    .keyword, .storage
        color: #b294bb /* purple */
