/**
 * Tricolore theme
 *
 * @author Jean Nicolas
 * @version 1.0.1
 */
@import "_base.sass"

pre
    background: #FFF
    color: #000
    font-size: 12px
    line-height: 16px

    .comment
        color: #7E7E7E
        font-style: italic

    .constant
        color: #18838A
        font-weight: bold

    .storage
        color: #0000A1

    .string
        color: #8E0022

    .keyword, .selector
        color: #0000A1
        font-weight: bold

    .inherited-class
        font-style: italic

    .entity
        color: #3E853F

    .support
        color: #192140

    .variable.global, .variable.class, .variable.instance
        color: #3E853F
