/**
 * Twilight theme
 *
 * Adapted from Michael Sheets' TextMate theme of the same name
 *
 * @author Michael Sheets
 * @author Jesse Farmer <jesse@20bits.com>
 * @version 1.0.1
 */
@import "_base.sass"

pre
    background: #141414
    color: #F8F8F8

    .comment
        color: #5F5A60

    .constant.numeric
        color: #D87D50

    .constant
        color: #889AB4

    .constant.symbol, .constant.language
        color: #D87D50

    .storage
        color: #F9EE98

    .string
        color: #8F9D6A

    .string.regexp
        color: #E9C062

    .keyword, .selector, .storage
        color: #CDA869

    .inherited-class
        color: #9B5C2E

    .entity
        color: #FF6400

    .support
        color: #9B859D

    .support.magic
        color: #DAD69A

    .variable
        color: #7587A6

    .function, .entity.class
        color: #9B703F

    .support.class-name, .support.type
        color: #AB99AC
