/**
 * Zenburnesque theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.0
 */
@import "_base.sass"

pre
    background: #404040
    color: #dedede

    .comment
        color: #709070
        font-style: italic

    .integer
        color: #22C0FF

    .storage
        color: #6080FF

    /* This includes regexes */
    .string
        color: #FF2020

    .keyword, .selector
        color: #ffffa0

    .inherited-class
        font-style: italic

    .entity
        color: #F09040

    .support
        color: #C83730

    .variable.class
        color: #FF8000
