/**
 * All Hallows Eve theme
 *
 * Adapted from Ultraviolet RubyGem
 *
 * @author Flinn Mueller
 * @version 1.1.0
 */
pre {
    background: #000;
    color: #fff;
}

pre .comment {
    color: #9933CC;
}

pre .constant {
    color: #3387CC;
}

pre .storage {
    color: #CC7833;
}

pre .string {
    color: #66CC33;
}

pre .keyword, pre .selector {
    color: #CC7833;
}

pre .inherited-class {
    font-style: italic;
}

pre .support {
    color: #C83730;
}
