/**
 * All Hallows Eve theme
 *
 * @author Flinn Mueller
 * @version 1.0
 * @attribution Adapted from Ultraviolet RubyGem
 */
pre {
    background: #000;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

code {
    background: #000;
    color: #fff;
}
pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment, code .comment {
    color: #9933CC;
}

pre .constant, pre .integer, code .constant, code .integer {
    color: #3387CC;
}

pre .storage, code .storage{
    color: #CC7833;
}

pre .string, code .string {
    color: #66CC33;
}

pre .keyword, pre .selector, code .keyword, code .selector {
    color: #CC7833;
}

pre .parent, code .parent{
    font-style: italic;
}

pre .entity, pre .meta,  code .entity, code .meta{
}

pre .support, code .support{
    color: #C83730;
}