/**
 * Base16 Atelier Estuary Light
 *
 * @author Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/estuary)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #f4f3ec;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #22221b;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
    color: #878573;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #ba6236; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #ae7313; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #a5980d; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #7d9726; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #36a166; /* blue */
}

pre .keyword, pre .storage {
    color: #5f9182; /* purple */
}
