/**
 * Base16 Atelier Cave Dark
 *
 * @author Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/cave)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #19171c;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #efecf4;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
    color: #655f6d;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #be4678; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #aa573c; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #a06e3b; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #2a9292; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #576ddb; /* blue */
}

pre .keyword, pre .storage {
    color: #955ae7; /* purple */
}
