/**
 * Base16 Atelier Plateau Light
 *
 * @author Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #f4ecec;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #1b1818;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: Consolas, Menlo, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

pre .comment {
    color: #7e7777;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #ca4949; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #b45a3c; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #a06e3b; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #4b8b8b; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #7272ca; /* blue */
}

pre .keyword, pre .storage {
    color: #8464c4; /* purple */
}
