/**
 * Tricolore theme
 *
 * @author Jean Nicolas
 * @version 1.1.0
 */
pre {
    background: #FFF;
    color: #000;
}

pre, code {
    font-family: 'Monaco', 'Consolas', monospace;
}

pre .comment {
    color: #7E7E7E;
	font-style: italic;
}

pre .constant {
    color: #18838A;
	font-weight: bold;
}

pre .storage {
    color: #0000A1;
}

pre .string {
    color: #8E0022;
}

pre .keyword, pre .selector {
    color: #0000A1;
	font-weight: bold;
}

pre .inherited-class {
    font-style: italic;
}

pre .entity {
    color: #3E853F;
}

pre .support {
    color: #192140;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #3E853F;
}
